html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------- */

.flight {
	display: flex;
	flex-direction: column;
	margin: 5px;
	justify-content: space-evenly;
}

.subFlight {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

/* .flightsList {
	overflow-y: scroll;
	position: relative;
  height: 670px;
} */


.ticketInfo {
	margin: 8px;
}

.ticketStub {
	display: flex;
	justify-content: space-around;
	margin: 5px;
  background: rgba( 227, 224, 224, 0.50 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 7.5px );
	-webkit-backdrop-filter: blur( 7.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

html {
  background: url('../client/assets/home-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5 {
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 66px;
}

.loaderModal {
	position: absolute;
  top: 50%;
  left: 50%;
	width: 20%;
	height: 15%;
  transform: translate(-50%, -50%);
	z-index: 5;
	background-color: floralwhite;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.bookingModal {
	width: 30%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.main	{
	margin-top: 6%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.searchBar {
	margin-top: 3%;
}

.inputForm {
	margin-left: 5px;
	margin-right: 5px;
	padding: 6px 12px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: 4px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.inputForm:focus{
		color: #212529;
		background-color: #fff;
		border-color: #86b7fe;
		outline: 0;
		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

button {
cursor: pointer;
outline: 0;
color: #fff;
background-color: #0d6efd;
border-color: #0d6efd;
display: inline-block;
font-weight: 400;
line-height: 1.5;
text-align: center;
border: 1px solid transparent;
padding: 6px 12px;
font-size: 16px;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
		color: #fff;
		background-color: #0b5ed7;
		border-color: #0a58ca;
}

